body { 
    padding-top:5px;   
}
.main_header { 
    margin-bottom:20px;   
}

.main_header a {
    color:grey;    
}

a {
    color:black;
}

a:hover {
    color:orange;
}


.image_under_text { 
    /* this is just technical thing to make the image under text work */
    position:relative;
}

.red_text {color:#ff0000;}

.text_that_goes_on_image {
    font-size:15px;
    position:absolute;
    top:30px;
    background-color:rgba(255,255,255,0.8);
    padding:30px;
    margin-left:20px;
    margin-right:40px;
}

.main_image { 
    width:100%;   
}

.work_page_image {
    margin-top:10px;
}

img {
   border:10px solid black; 
}


.selected_mode { 
    color:#2A6496;
    background-color:#e8e8e8;
}


.header_community_mode, .header_organise_mode { 
    display:none;    
}

.frame_for_animation { 
    overflow:hidden;
}
.mode_header { 
    
    height:434px;
    
}

.frame_for_animation {
    height:435px;
    
}


/* all work page */

.work-item { 
    margin-bottom:10px;
}

.work-item img {
    width:100%;
}

.work-item h2 { 
    margin-top:0px;   
}








